@model Cinema.ASP.Areas.Admin.Models.User.UserListItem
<td>
    @Html.DisplayFor(modelItem => Model.Login)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.FullName)
</td>
<td>
    <a href="mailto:@Model.Email">@Html.DisplayFor(modelItem => Model.Email)</a>
</td>
<td>
    @Html.DisplayFor(modelItem => Model.Role)
</td>
<td>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
</td>